.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

/* To special case nav bar links, there might be a better way of doing this */
a, a:hover, a:visited {
  text-decoration: none;
  color: white;
}
